
<?xml version="1.0" encoding="UTF-8"?>

<!---Некая связующая смесь соединяет все компоненты программы в один исправный механизм.-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
          default-init-method="beanInit"
          default-destroy-method="beanDestroy">

    <bean id="springHelloWorld"
          scope="singleton"
          class="net.proselyte.springhellotutorial.SpringHelloWorld">
    </bean>

    <bean class="net.proselyte.springhellotutorial.BeanPostProcessorHello"/>

</beans>