<?xml version="1.0" encoding="UTF-8"?>
<!---Некая связующая смесь соединяет все компоненты программы в один исправный механизм.-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
          default-init-method="beanInit"
          default-destroy-method="beanDestroy">

    <!--singleton определяет один единственный бин для каждого контейнера Spring IoC.-->
    <bean id="springHelloWorld"
          class="net.proselyte.springhellotutorial.SpringHelloWorld"
          scope="singleton">
    </bean>

    <!--
    springByeWorld - бин-потомок springHelloWorldа.
    prototype Позволяет иметь любое количество экземпляров бина.
    -->
    <bean id="springByeWorld"
          class="net.proselyte.springhellotutorial.SpringByeWorld"
          scope="prototype"
          parent="springHelloWorld">
        <property name="SpringByeWorldChecker">
            <bean class="net.proselyte.springhellotutorial.SpringByeWorldChecker"/>
        </property>
    </bean>


    <bean class="net.proselyte.springhellotutorial.BeanPostProcessorHello"/>

</beans>